/**
 * styles.css
 *
 * Computer Science 50
 * Problem Set 7
 *
 * Global CSS.
 */
 
/* https://css-tricks.com/perfect-full-page-background-image/ */
/*html { */
/*  background: url(http://img11.deviantart.net/8f9c/i/2009/101/d/3/fuji_cherry_blossoms__by_zeroai.jpg) no-repeat center center fixed; */
/*  -webkit-background-size: cover;*/
/*  -moz-background-size: cover;*/
/*  -o-background-size: cover;*/
/*  background-size: cover;*/
/*}*/

/*
https://css-tricks.com/design-considerations-text-images/ 
*/

body {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../views/background.jpg);
  background-size: cover;
  font-family: 'Cochin', sans-serif;
  
}

header {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}
h1 {
  /*text-transform: uppercase;*/
  margin: 0;
  white-space: nowrap;
  color: white;
  font-size: 50px;
  font-family: 'Cochin', sans-serif;
}
p {
  margin: 0;
  font-size: 1.5rem;
}

.module {
  background: url(../views/background.jpg);
  width: 500px;
  height: 33%;
  padding: 15px;
  background-attachment: fixed;
  width: 400px;
  height: 300px;
  position: relative;
  overflow: hidden;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
}
.module > header {
  position: relative;
  bottom: 0;
  left: 120;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 20px 10px;
  background: fixed;
  background-attachment: fixed;
}
.module > header::before {
  content: "";
  position: relative;
  top: 0;
  left: 150;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  text-align: center;
  background: fixed;
  background-attachment: fixed;
  -webkit-filter: blur(12px);
  /*filter: blur(12px);*/
  /*transform: scale(2) translateY(20px);*/
}

.module > header > h3 {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
  position: relative;
  z-index: 1;
}

* {
  box-sizing: border-box;
}

.spacer 
{
  padding: 0.5px;
}

.container
{
    /* center contents */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;

}

#top
{
    /* surround with whitespace */
    margin-bottom: 15px;
    margin-top: 15px;
}

#top .nav
{
    /* center navigation pills */
    display: inline-block;
}

#middle 
.form-control
{
    /* center form controls */
    display: inline-block;
    color: white;
    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

#bottom
{
    /* shrink bottom's font size */
    font-size: smaller;
    color: white;
    /* surround with whitespace */
    margin: 20px;
}

h3
{
    /*center contents */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: 'Cochin', sans-serif;
    background: rgba(5,4,2,0.4);
    width: 500px;
    height: 35%;
    padding: 15px;
}

.fb-like
{
    text-align: center;
}

h2
{ 
  position: absolute; 
  top: 120px;
  left: 420px;
  width: 100%;
  background: rgba(5,4,2,0.4);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 300px;
  height: 35%;
  padding: 15px;
  
}

h2 span { 
  color: white; 
  font: 20px 'Cochin', Sans-Serif; 
  letter-spacing: -1px;  
  padding: 5px; 
}

.image { 
   position: relative; 
   width: 100%; /* for IE 6 */ 
}

h2 span.spacer {
   padding: 0.5px;
}

.img img {
    display: inline-block;
    margin: 5px;
    text-align: center;
    /*border: 1px solid #ffffff;*/
    position: relative; width: 100px; height: 100px; float: left; margin-left: 10px;
    /*position: relative; width: 100px; height: 100px; margin-left: 10px;*/
}

.img a:hover img {
    border: 1px solid #0000ff;
}

.radio {position: relative; bottom: 0px; right: 0px; }

/*div.desc {*/
/*  text-align: center;*/
/*  font-weight: normal;*/
/*  width: 120px;*/
/*  margin: 5px;*/
/*}*/
