/**
 * styles.css
 * Final Project
 * Global CSS.
 */

body {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../img/background.jpg);
  background-size: cover;
  font-family: 'Cochin', sans-serif;
  
}

header {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

h1 {
  margin: 0;
  white-space: nowrap;
  color: white;
  font-size: 50px;
  font-family: 'Cochin', sans-serif;
}

p {
  margin: 0;
  font-size: 18px;
}


* {
  box-sizing: border-box;
} 

.spacer 
{
  padding: 0.5px;
}

.container
{
    /* center contents */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
    width: 1200px;
}

#top
{
    /* surround with whitespace */
    margin-bottom: 15px;
    margin-top: 15px;
}

#top .nav
{
    /* center navigation pills */
    display: inline-block;
}

#middle 
.form-control
{
    /* center form controls */
    display: inline-block;
    color: white;
    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

.form-group
{
    /*center form controls */
    display: inline-block;
    color: black;
    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

#bottom
{
    /* shrink bottom's font size */
    font-size: smaller;
    color: white;
    margin: 20px;
}

h3
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: 'Cochin', sans-serif;
    background: rgba(5,4,2,0.4);
    width: 500px;
    height: 35%;
    padding: 15px;
}


h2 
{ 
  position: relative; 
  left: 0%;
  top:-10%;
  width: 25%;
  height: 10.5%;
  background: rgba(5,4,2,0.4);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font: 20px 'Cochin', Sans-Serif; 
}

#textbox 
{
  color: white; 
  font: 15px 'Cochin', Sans-Serif; 
  letter-spacing: -1px;  
  text-align: center;
  margin: auto;
}

.image 
{ 
  position: relative; 
  width:100%;
  float: inherit;
}

#border-box 
{ 
  background-clip: padding-box; 
  margin-bottom: 2em;
  border: 0;
}

h2 span.spacer {
   padding: 0.5px;
}

.img label {
    display: inline-block;
    margin: 5px;
    text-align: center;
    /*border: 1px solid #ffffff;*/
    position: relative; width: 100px; height: 100px; float: left; margin-left: 10px;
}

.img img 
{
  position: relative; width: 100px; height: 100px; float: left; margin-left: 10px;
  border: 1px solid #000000;
}

.img a:hover img 
{
    border: 1px solid #0000ff;
}

.radio {position: relative; bottom: 0px; right: 0px; }

label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: relative; /* Remove input from document flow */
}

label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;

}
label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid #f00;
}